<div class="card" style=" margin : 90px;width: 1200px">
    <br>
    <h3 style="margin-left:5px;">Invoices </h3>
    <br>
    <div class="card-header">
        <a class="btn btn-success" routerLink="createinvoice">New [+]</a>
    </div>
    <div class="card-body">

        <table datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger" class="table table-bordered">
            <thead class="bg-dark text-white">
                <tr>
                    <td>Invoice No</td>
                    <td>WH/MP</td>
                    <td>Order Date</td>
                    <td>Delievery Date</td>
                    <td style="width:200px;">Customer</td>
                    <td style="width:200px;">Restricted</td>
                    <td>Remarks</td>
                    <td>Total</td>
                    <!-- <td>Tax</td>
                    <td>NetTotal</td> -->
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of Invoiceheader">
                    <td>{{item.invoiceNo}}</td>
                    <td>{{item.whMp}}</td>
                    <td>{{item.orderDate | date: 'd/M/y'}}</td>
                    <td>{{item.delieveryDate |date: 'd/M/y'}} </td>
                    <td style="width:200px;">{{item.customerName}}</td>
                    <td style="width:200px;">{{item.restricted}}</td>
                    <td>{{item.remarks}}</td>
                    <td>{{item.total }}</td>
                    <!-- <td>{{item.tax }}</td>
                    <td>{{item.netTotal }}</td> -->
                    <td style="width: 30%">
                        <a class="btn btn-primary" (click)="Editinvoice(item.invoiceNo)">Edit</a> |
                        <a class="btn btn-danger" (click)="invoiceremove(item.invoiceNo)">Delete</a> |
                        <!-- <a class="btn btn-success" (click)="PreviewInvoice(item.invoiceNo)">Preview</a> | -->
                        <a class="btn btn-success" (click)="DownloadInvoice(item.invoiceNo)">Download</a>
                    </td>

                </tr>
            </tbody>

        </table>

    </div>

</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Preview Invoice : <b>{{invoiceno}}</b></h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <ngx-extended-pdf-viewer [src]="pdfurl"></ngx-extended-pdf-viewer>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="d('Cross click')">Close</button>
    </div>
</ng-template>