<div class="card" style=" margin : 90px;width: 1200px">
    <br>
    <h3 style="margin-left:5px;" >Products </h3>
    <br>
    <div class="card-header">
        <a class="btn btn-success" routerLink="create">New [+]</a>
    </div>
    <div class="card-body">

        <table datatable  class="table table-bordered">
            <thead class="bg-dark text-white">
                <tr>
                    <th>Code</th>
                    <th style="width:500px;">Name</th>
                    <th>Consume Count</th>
                           <th>Price</th>
                    <th>Segment Count</th>
                           <th>Price</th>
                    <th>Totalize Count</th>
                            <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let item of productdata">
                    <td>{{item.code}}</td>
                    <td style="width:500px;">{{item.name}}</td>
                    <td>{{item.consumedPrice}}</td>
                    <td>{{item.countedPieces}}</td>
                    <td>{{item.segmentedPrice}}</td>
                    <td>{{item.countedBoxes}}</td>
                    <td>{{item.totalizedPrice}}</td>
                    <td>{{item.countedCtns}}</td>
                    <td style="width: 15%">
                <a class="btn btn-primary m-1 " routerLink="Edit/{{item.code}}" >Edit</a>|
                <a class="btn btn-danger"(click)="delete(item.code)">Delete</a> 
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>