<form class="container" [formGroup]="invoiceform" (ngSubmit)="SaveInvoice()">
    <div class="card" style="margin-top:90px; width: 1200px">
        <h3>{{pagetitle}}</h3>

        <div class="card-body">

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Invoice No</label>
                        <span class="text-danger">*</span>
                        <input formControlName="invoiceNo" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Invoice Type</label>
                        <span class="text-danger">*</span>
                        <select formControlName="type" class="form-control">
                            <option value="Consumed">Consumed</option>
                            <option value="Segmented">Segmented</option>
                            <option value="Totalized">Totalized</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Customer Code</label>
                        <span class="text-danger">*</span>
                        <select formControlName="customerId" (change)="customerchange()" class="form-control">
                            <option *ngFor="let item of mastercustomer" [value]="item.code">
                                {{item.code}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Customer Name</label>
                        <input formControlName="customerName" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Address</label>
                        <textarea formControlName="deliveryAddress" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>WH/MP</label>
                        <span class="text-danger">*</span>
                        <select formControlName="whMp" class="form-control">
                            <option value="WH">WH</option>
                            <option value="MP">MP</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Order Date</label>
                        <span class="text-danger">*</span>
                        <input type="text" formControlName="orderDate" class="form-control" />
                    </div>
                    <!-- | date: 'd/M/y' -->
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Delievery Date</label>
                        <span class="text-danger">*</span>
                        <input type="text" formControlName="delieveryDate" class="form-control" />
                    </div>
                </div>


                <div class="col-lg-6">
                    <div class="form-group">
                        <label>D/A Code</label>
                        <span class="text-danger">*</span>
                        <select formControlName="dassistantId" (change)="dassistantchange()" class="form-control">
                            <option *ngFor="let da of masterdassistant" [value]="da.code">
                                {{da.code}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>D/A Name</label>
                        <input formControlName="dassistantName" class="form-control" />
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Remarks</label>
                        <input formControlName="remarks" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Restricted</label>
                        <span class="text-danger">*</span>
                        <select formControlName="restricted" class="form-control">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>
            </div>

            <br>
            <a class="btn btn-success" (click)="enableInsertionWay('Pdf')">PDF Insertion</a> |
            <a class="btn btn-success" (click)="enableInsertionWay('Multi')">Multi Insertion</a>
            <br>

            <div class="col-lg-12" *ngIf="!isedit && enablePdfInsertion">
                <form [formGroup]="textAreaForm">
                    <label>PDF Insertion</label>
                    <textarea cols="177" rows="10" class="tesxt-area" formControlName="textArea"></textarea>
                </form>
                <br>
                <button class="button" class="btn btn-success" (click)="insertInvoiceOnRecords('Pdf')">Insert</button>
            </div>

            <div class="col-lg-12" *ngIf="!isedit && enableMultiInsertion">
                <form [formGroup]="multiInsertionForm">
                    <p>Multi Insertion</p>
                    <textarea cols="40" rows="10" class="tesxt-area" formControlName="codeTextArea" placeholder="Enter codes here..."></textarea>
                    <span class="vl"></span>
                    <!-- <textarea cols="50" rows="10" class="tesxt-area" formControlName="descriptionTextArea" placeholder="Description..."></textarea>
                    <span class="vl"></span> -->
                    <textarea cols="40" rows="10" class="tesxt-area" (click)="insertDescriptions();"formControlName="quantityTextArea" placeholder="Enter quantities here..."></textarea>
                    <span class="vl"></span>
                    <textarea cols="40" rows="10" class="tesxt-area" formControlName="typeTextArea" placeholder="Enter (ctn-box-piece) here..."></textarea>
                    <span class="vl"></span>
                    <textarea cols="40" rows="10" class="tesxt-area" formControlName="PriceTextArea" placeholder="Enter prices here..."></textarea>
                </form>
                <br>
                <button class="button" class="btn btn-success" (click)="insertInvoiceOnRecords('Multi')">Insert</button>
            </div>

            <br>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-bordered" formArrayName="details">

                        <thead class="bg-primary text-white">
                            <tr>
                                <td>Sl.No</td>
                                <td>Product Code</td>
                                <td style="width:300px;">Description</td>
                                <td>Qty</td>
                                <td style="width:120px;">Type</td>
                                <td>Price</td>
                                <td>Total</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of invproducts.controls;let i=index" [formGroupName]="i">
                                <td>{{i+1}}</td>
                                <td>
                                    <input type="text" list="masterproduct" class="form-control"
                                        (change)="productchange(i)" formControlName="productCode" />
                                    <datalist id="masterproduct">
                                        <option *ngFor="let item of masterproduct" [value]="item.code">
                                            {{item.code}}
                                        </option>
                                    </datalist>
                                </td>
                                <td>
                                    <input style="width:500px;" class="form-control" formControlName="productName" />
                                </td>
                                <td>
                                    <input class="form-control" (change)="Itemcalculation(i)" formControlName="qty" />
                                </td>
                                <td>
                                    <input type="text" list="Types" class="form-control" (change)="Itemcalculation(i)"
                                        formControlName="productType" />
                                    <datalist id="Types">
                                        <option *ngFor="let type of Types" [value]="type">{{type}}</option>
                                    </datalist>
                                </td>
                                <td>
                                    <input class="form-control" (change)="Itemcalculation(i)"
                                        formControlName="salesPrice" />
                                </td>
                                <td>
                                    <input class="form-control" formControlName="total" />
                                </td>
                                <td>
                                    <a (click)="Removeproduct(i)" class="btn btn-danger">Remove</a>
                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <a (click)="addnewproduct()" class="btn btn-success">[+]</a>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Summary Total</label>
                        <input formControlName="total" class="form-control">
                    </div>
                </div>
                <!-- <div class="col-lg-4">
                <div class="form-group">
                    <label>Summary Tax</label>
                    <input formControlName="tax" class="form-control">
                </div>
            </div> -->
                <!-- <div class="col-lg-4">
                <div class="form-group">
                    <label>Summary NetTotal</label>
                    <input formControlName="netTotal" class="form-control">
                </div>
            </div> -->
                <div class="col-lg-12">
                    <br>
                    <button class="btn btn-success" type="submit">Save</button> |
                    <a class="btn btn-danger" routerLink="/">Back</a>
                </div>

            </div>

        </div>

    </div>
</form>